body {
	  background-color: teal;
    margin: 5px 5px 5px 5px;
	}
#nomeMuseu{
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 300%;
  padding-left: 8%;
}

#logo{
  margin-bottom: 3%;
  margin-left: 20%;
}

#central{
  position:absolute;
  margin: 10% 30% 10% 30%;
}

#p3{
  color: white;
}
