/*---------------------------Main Screan----------------------*/
.mdl-layout__header {
  background-color: #009688;
}
/* Position the drawer below the header */
.mdl-layout--fixed-drawer .mdl-layout__drawer {
  margin-top: 64px;
  height: calc(100% - 64px);
}

.mdl-layout--fixed-drawer.is-small-screen .mdl-layout__drawer { /* On smaller screens where the header is smaller */
  margin-top: 56px;
  height: calc(100% - 56px);
}

/* Position the obfuscator below the header */
.mdl-layout--fixed-drawer .mdl-layout__obfuscator {
  margin-top: 64px;
  height: calc(100% - 64px);
}

.mdl-layout--fixed-drawer.is-small-screen .mdl-layout__obfuscator {
  margin-top: 56px;
  height: calc(100% - 56px);
}

/*
 * Fixed draw layout
 */

/* Expand the header over the space reserved for the full-height navigation draw */
.mdl-layout--fixed-drawer.mdl-layout--fixed-drawer>header.mdl-layout__header {
  margin-left: 0;
  width: 100%;
}

/* Hide the hamburger icon when the drawer is showing */
.mdl-layout--fixed-drawer.mdl-layout--fixed-drawer:not(.is-small-screen) .mdl-layout__drawer-button {
  display: none;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header{
  margin-left: 0;
  width: 100%;
}

.logo {
    display: inline-block;
    height: 100%;
    padding-right: 1%;
}

.logo>img {
    vertical-align: middle;
    transform: scale(0.8);
}

.itens {
  display: inline;
  padding-left: 20%;
}

.page-content-int {
  height: 100%;
  width: 65%;
  margin: auto;
}

.title {
  margin-top: 12%;
  display: flex;
}

.title h1 {
  margin-top: 10%;
  font-size: 29px;
}

.text p{
  margin-top: 5%;
  font-size: 20px;
}
