/*---------------------------Main Screan----------------------*/
.mdl-layout__header {
  background-color: #009688;
}
/* Position the drawer below the header */
.mdl-layout--fixed-drawer .mdl-layout__drawer {
  margin-top: 64px;
  height: calc(100% - 64px);
}

.mdl-layout--fixed-drawer.is-small-screen .mdl-layout__drawer { /* On smaller screens where the header is smaller */
  margin-top: 56px;
  height: calc(100% - 56px);
}

/* Position the obfuscator below the header */
.mdl-layout--fixed-drawer .mdl-layout__obfuscator {
  margin-top: 64px;
  height: calc(100% - 64px);
}

.mdl-layout--fixed-drawer.is-small-screen .mdl-layout__obfuscator {
  margin-top: 56px;
  height: calc(100% - 56px);
}

/*
 * Fixed draw layout
 */

/* Expand the header over the space reserved for the full-height navigation draw */
.mdl-layout--fixed-drawer.mdl-layout--fixed-drawer>header.mdl-layout__header {
  margin-left: 0;
  width: 100%;
}

/* Hide the hamburger icon when the drawer is showing */
.mdl-layout--fixed-drawer.mdl-layout--fixed-drawer:not(.is-small-screen) .mdl-layout__drawer-button {
  display: none;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header{
  margin-left: 0;
  width: 100%;
}

.logo {
    display: inline-block;
    height: 100%;
    padding-right: 1%;
}

.logo>img {
    vertical-align: middle;
    transform: scale(0.8);
}

.itens {
  display: inline;
  padding-left: 20%;
}

#MainScreen-BemVindo .page-content-int {
  height: 100%;
  width: 70%;
  margin-left: 25%;
}

#MainScreen-BemVindo .title {
  margin-top: 12%;
  display: flex;
}

#MainScreen-BemVindo .title h1 {
  margin-top: 10%;
  font-size: 29px;
}

#MainScreen-BemVindo .text p{
  margin-top: 5%;
  font-size: 20px;
}

/*-------------Usuários------------*/
#Main-Usuarios {
  display: none;
}
#Main-Usuarios .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Main-Usuarios .page-content {
  height: 100%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Main-Usuarios .fullwidth {
  width: 82%;
}
#Main-Usuarios .login-table {
  width: 40%;
}
#Main-Usuarios .table-icon {
  width: 0.5%;
}
#Main-Usuarios .usersHeader {
  width: 82%;
}

#Main-Usuarios .mdl-layout__header-row {
  padding-left: 3%;
}

/*-------------Coleções------------*/
#Main-Colecoes {
  display: none;
}
#Main-Colecoes .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Main-Colecoes .page-content {
  height: 100%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Main-Colecoes .fullwidth {
  width: 82%;
}
#Main-Colecoes .login-table {
  width: 40%;
}
#Main-Colecoes .table-icon {
  width: 0.5%;
}
#Main-Colecoes .collectionsHeader {
  width: 82%;
}

#Main-Colecoes .mdl-layout__header-row {
  padding-left: 3%;
}

/*-------------Itens------------*/
#Main-Itens {
  display: none;
}
#Main-Itens .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Main-Itens .page-content {
  height: 100%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Main-Itens .fullwidth {
  width: 82%;
}
#Main-Itens .login-table {
  width: 20%;
}
#Main-Itens .table-icon {
  width: 0.5%;
}
#Main-Itens .collectionsHeader {
  width: 82%;
}

#Main-Itens .mdl-layout__header-row {
  padding-left: 3%;
}

/*-------------MUseus------------*/
#Main-Museus {
  display: none;
}
#Main-Museus .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Main-Museus .page-content {
  height: 100%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Main-Museus .fullwidth {
  width: 82%;
}
#Main-Museus .login-table {
  width: 70%;
}
#Main-Museus .table-icon {
  width: 0.5%;
}
#Main-Museus .collectionsHeader {
  width: 82%;
}

#Main-Museus .mdl-layout__header-row {
  padding-left: 3%;
}

/*-------------Movimentacoes------------*/
#Movimentacoes {
  display: none;
}
#Movimentacoes .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Movimentacoes .page-content {
  height: 100%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Movimentacoes .fullwidth {
  width: 82%;
}
#Movimentacoes .login-table {
  width: 70%;
}
#Movimentacoes .table-icon {
  width: 0.5%;
}
#Movimentacoes .collectionsHeader {
  width: 82%;
}

#Movimentacoes .mdl-layout__header-row {
  padding-left: 1%;
}

#Movimentacoes .back {
    display: inline-block;
    height: 100%;
    padding-right: 1%;
}

#Movimentacoes .back>img {
    vertical-align: middle;
    transform: scale(0.8);
}

/* FAB */
#fabutton {
  color: white;
  background-color: teal;
  margin-left: 92%;
  margin-top: 1%;
  margin-bottom: 5%;
}

/*-------------Coleção Expandida------------*/
#Colecao-Expandida {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: none;
}
#Colecao-Expandida .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Colecao-Expandida .page-content {
  height: 80%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Colecao-Expandida .collectionCard {
  width: 80%;
}
#Colecao-Expandida .mdl-card__title {
  background-color: #009688;
}
#Colecao-Expandida .title {
  color: #fff;
}
#Colecao-Expandida .back {
    display: inline-block;
    height: 100%;
    padding-right: 1%;
}
#Colecao-Expandida .edit {
    display: inline-block;
    height: 100%;
}

#Colecao-Expandida .back>img {
    vertical-align: middle;
    transform: scale(1.1);
}
#Colecao-Expandida .ID {
    margin-top: 1%;
}
#Colecao-Expandida .Nome {
    margin-top: 1%;
}
#Colecao-Expandida .IDMuseu {
    margin-top: 1%;
}
#Colecao-Expandida .tituloInformacao {
  font-weight: bold;
}
#Colecao-Expandida .fullwidth {
  width: 80%;
  margin-top: 3%;
}
#Colecao-Expandida .icon {
  float: right;
  width: 5%;
  padding-top: 3%;
}

/*-------------Item Expandido------------*/
#Item-Expandido {
  height: 100%;
  width: 100%;
  overflow:scroll;
  justify-content: center;
  display: none;
}
#Item-Expandido .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Item-Expandido .page-content {
  height: 80%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Item-Expandido .collectionCard {
  width: 80%;
}
#Item-Expandido .mdl-card__title {
  background-color: #009688;
}
#Item-Expandido .title {
  color: #fff;
}
#Item-Expandido .back {
    display: inline-block;
    height: 100%;
    padding-right: 1%;
}
#Item-Expandido .edit {
    display: inline-block;
    height: 100%;
}

#Item-Expandido .back>img {
    vertical-align: middle;
    transform: scale(1.1);
}
#Item-Expandido .informacoesGerais {
  padding-bottom: 0%;
}
#Item-Expandido .Informacao {
  margin-top: 1%;
}
#Item-Expandido .borda {
  margin-top: 1%;
}
#Item-Expandido .tituloInformacao {
  display: inline-block;
  width: 15%;
  font-weight: bold;
}
#Item-Expandido .Dimensões {
  padding-top: 0%;
}
#Item-Expandido .Dimensão {
  display: inline-block;
  width: 30%;
}
#Item-Expandido .OutrasInformacoes {
  padding-top: 0%;
}
#Item-Expandido .Descrição {
  padding-top: 1%;
}
#Item-Expandido .fotoItem {
  float: right;
  width: 15%;
  padding-top: 0%;
  padding-right: 2%;
}
#Item-Expandido .BotaoMovimentações {
  float: right;
  background-color: #009688;
}

/*------------Usuário Expandido--------*/

#Usuario-Expandido {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: none;
}

#Usuario-Expandido .mdl-layout__content{
  height: 100%;
  width: 100%;
  justify-content: center;
}

#Usuario-Expandido .page-content {
  height: 80%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}

#Usuario-Expandido .usercard{
  width: 80%;
}

#Usuario-Expandido .mdl-card__title{
  background-color: #009688;
}

#Usuario-Expandido .title{
  color: #fff;
  font-size: 200%;
}

#Usuario-Expandido .mdl-layout__header-row{
  padding-left: 1%;
}

#Usuario-Expandido .icon{
  float: right;
  width: 12%;
  height: 12%;
}

#Usuario-Expandido .tituloInformacao {
  display: inline-block;
  width: 15%;
  font-weight: bold;
}

#Usuario-Expandido .Cpf {
    margin-top: 1%;
}

#Usuario-Expandido .Email {
    margin-top: 1%;
}

#Usuario-Expandido .Funcao {
    margin-top: 1%;
}

#Usuario-Expandido .Matricula {
    margin-top: 1%;
}

#Usuario-Expandido .back{
  display: inline-block;
  height: 100%;
  padding-right: 3%;
}
#Usuario-Expandido .back>img {
    vertical-align: middle;
    transform: scale(1.1);
}

#Usuario-Expandido .edit {
    display: inline-block;
    height: 100%;
    padding-right: 3%;
}

/*------------Página de Carregamento---------*/
#loadingPage {
  position:absolute;
  margin: 10% 30% 10% 30%;
}
#loadingPage .nomeMuseu{
  color: white;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 300%;
	margin-left: 3%;
}
#loadingPage .logo{
  margin-bottom: 3%;
  margin-left: 20%;
  width:300;
  height:250;
}

/*-------------Adicionar item------------*/
#Adicionar-editar-item {
  height: 100%;
  width: 100%;
  overflow:scroll;
  justify-content: center;
  display: none;
}
#Adicionar-editar-item .mdl-layout__content {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#Adicionar-editar-item .page-content {
  height: 80%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}
#Adicionar-editar-item .collectionCard {
  width: 80%;
}
#Adicionar-editar-item .mdl-card__title {
  background-color: #009688;
}
#Adicionar-editar-item .title {
  color: #fff;
}
#Adicionar-editar-item .back {
    display: inline-block;
    height: 100%;
    padding-right: 1%;
}
#Adicionar-editar-item .confirmar {
    display: inline-block;
    height: 100%;
    transform: scale(1.4);
}

#Adicionar-editar-item .back>img {
    vertical-align: middle;
    transform: scale(1.4);
}
#Adicionar-editar-item .informacoesGerais {
  padding-bottom: 0%;
  width: 97%;
}
#Adicionar-editar-item .Informacao {
  display: inline-block;
  padding-right: 10%;
}
#Adicionar-editar-item .borda {
  margin-top: 0%;
}
#Adicionar-editar-item .tituloInformacao {
  display: inline-block;
  font-weight: bold;
}
#Adicionar-editar-item .tituloDescrição {
  display: inline;
  font-weight: bold;
}
#Adicionar-editar-item .Dimensões {
  padding-top: 0%;
}
#Adicionar-editar-item .Dimensão {
  display: inline-block;
  width: 30%;
}
#Adicionar-editar-item .OutrasInformacoes {
  padding-top: 0%;
}
#Adicionar-editar-item .Descrição {
  padding-top: 1%;
}
#Adicionar-editar-item .fotoItem {
  float: right;
  width: 15%;
  padding-top: 0%;
  padding-right: 2%;
}
#Adicionar-editar-item .BotaoImagem {
  float: right;
  background-color: #009688;
  width: 20%;
}
#Adicionar-editar-item .OutrasInformacoesInput {
  width: 500%;
}

/*------------Editar Usuário--------*/

#Editar-Usuario {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: none;
}

#Editar-Usuario .mdl-layout__content{
  height: 100%;
  width: 100%;
  justify-content: center;
}

#Editar-Usuario .page-content {
  height: 80%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}

#Editar-Usuario .editusercard{
  width: 80%;
}

#Editar-Usuario .mdl-card__title{
  background-color: #009688;
}

#Editar-Usuario .title{
  color: #fff;
  font-size: 200%;
}

#Editar-Usuario .mdl-layout__header-row{
  padding-left: 1%;
}

#Editar-Usuario .icon{
  float: right;
  width: 12%;
  height: 12%;
}

#Editar-Usuario .back{
  display: inline-block;
  height: 100%;
  padding-right: 3%;
}
#Editar-Usuario .back>img {
    vertical-align: middle;
    transform: scale(1.1);
}

#Editar-Usuario .confirm {
    display: inline-block;
    height: 100%;
    padding-right: 3%;
}

#Editar-Usuario .back>img {
    vertical-align: middle;
    transform: scale(1.1);
}

/*------------Editar Coleção--------*/

#Editar-Colecao {
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: none;
}

#Editar-Colecao .mdl-layout__content{
  height: 100%;
  width: 100%;
  justify-content: center;
}

#Editar-Colecao .page-content {
  height: 80%;
  width: 95%;
  margin: 74px 0px 0px 20%;
  justify-content: center;
}

#Editar-Colecao .editcollectioncard{
  width: 80%;
}

#Editar-Colecao .mdl-card__title{
  background-color: #009688;
}

#Editar-Colecao .title{
  color: #fff;
  font-size: 200%;
}

#Editar-Colecao .mdl-layout__header-row{
  padding-left: 1%;
}

#Editar-Colecao .icon{
  float: right;
  width: 12%;
  height: 12%;
}

#Editar-Colecao .back{
  display: inline-block;
  height: 100%;
  padding-right: 3%;
}
#Editar-Colecao .back>img {
    vertical-align: middle;
    transform: scale(1.1);
}

#Editar-Colecao .confirm {
    display: inline-block;
    height: 100%;
    padding-right: 3%;
}

#Editar-Colecao .confirm>img {
    vertical-align: middle;
    transform: scale(1.1);
}

#Editar-Colecao .Informacao {
  display: inline-block;
  padding-right: 10%;
}
